body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: sans-serif;
  }

.screen {
    --primary-rgb: 0, 169, 23;
    background-color: rgba(var(--primary-rgb), 0.15);

    width: 500px;
    aspect-ratio: 10 / 16;

    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center;

    border: 3px solid rgba(var(--primary-rgb), 0.8);
    border-radius: 1rem;
    margin: 8px;

    overflow: hidden;   

    /* give time for image to load css-only */
    opacity: 0; 
    animation: delay 2s forwards;
}

@keyframes delay {
    to {
      opacity: 1;
    }
  }



.screen > .screen-image {
    background-image: url("https://www.tandridgegolfclub.com/media/1349/tandridge-18th-0057-web.jpg");
    height: 100%;
    width: 100%;
    object-fit: 300%; 
    /* filter: sepia(1%) hue-rotate(22deg) saturate(300%) brightness(70%); */
    opacity: 1;

    position: absolute;

    background-position: 36% 42%;
    background-size: 300%;
    
    /* aimate image  */
    animation: pan-image 30s cubic-bezier(0.38, 0.2, 0.65, 0.84) infinite;
}

@keyframes pan-image {
    0% {
        background-position: 0% 60%;
        background-size: 300%;
    }
    55% {
        background-position: 50% 55%;
        background-size: 400%;
    }
    55.0001% {
        background-position: 50% 55%;
        background-size: 400%;
    }
    100% {
        background-position: 74% 25%;
        background-size: 530%;
    }
    
}



/* CRT-TV effect */
.screen-overlay {
    /* rather than using a repeating-linear-gradient, use normal linear-gradient and a 4px background height which will repeat to fill the space by default. 
        This allows us to animate the background-position, unlike with a repeating-linear-gradient */
    background-size: 100% 4px; 
    background-image: linear-gradient(    /* use the same color for start and end so it's block lines instead of a gradient */
        rgba(var(--primary-rgb), 0.1), /* start color line  */
        rgba(var(--primary-rgb), 0.1) 1px, /* end color line */
        transparent 2px, /* start transparent line */  
        transparent 3px /* end transparent line */
    ); /* modify spacing and color to your preference */
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2; 
    left: Opx;
    top: 0px;
    
    /* animate the overlay, using cubic-bezier to add some variance to motion, fast, slow fast */
    animation: pan-overlay 70s cubic-bezier(0.28, 0.15, 0.68, 0.84) infinite;

} 


@keyframes pan-overlay {
    from {
    background-position: 0% 0%;
    }
    to {
    background-position: 0% 100%;
    }
}
